@model IEnumerable<TallerDS215.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<div class="row align">
    <div class="col-md-3 col-sm-12">
        <img src="/img/logoTaller.png" style="max-height: 90%; max-width:100%;">
    </div>
    <div class="col-md-9 col-sm-12 mb-5">
        <h1 class="mb-3">Empleado</h1>
        <p>
            <a class="btn btn-outline-primary font-weight-bold rounded-pill" asp-action="Create">Agregar Empleado</a>
        </p>

        <form class="form-inline" asp-action="Index" method="get">
            <input class="col-md-7 col-sm-12 mr-sm-2 mb-2" type="text" placeholder="Ingrese el nombre, apellido o DUI del empleado" id="c_nombre" name="Buscar" value="@ViewData["FiltroB"]">
            <input type="submit" class="col-md-2 col-sm-12 btn btn-block btn-primary rounded-pill mb-2" value="Buscar">
            <br />
            <a asp-action="Index">Todos los registros</a>
            <input name="__RequestVerificationToken" type="hidden" value="">
        </form>

    </div>
</div>
<table class="table ">
    <thead class="text-center thead-dark">
        <tr>
            <th>
                <a asp-action="Index" asp-route-OrdenA="@ViewData["OrdeNom"]"> @Html.DisplayNameFor(model => model.nombre)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-OrdenA="@ViewData["OrdeApell"]"> @Html.DisplayNameFor(model => model.apellido)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-OrdenA="@ViewData["OrdeCorreo"]">  @Html.DisplayNameFor(model => model.correo)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                <a asp-action="Index" asp-route-OrdenA="@ViewData["OrdeSalario"]">   @Html.DisplayNameFor(model => model.salario) </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-OrdenA="@ViewData["OrdeModPago"]">  @Html.DisplayNameFor(model => model.modPago) </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-OrdenA="@ViewData["OrdeArea"]">  @Html.DisplayNameFor(model => model.Area) </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-OrdenA="@ViewData["OrdeRol"]"> @Html.DisplayNameFor(model => model.rol)</a>
            </th>
            <th>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ordenar Por:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-action="Index" asp-route-OrdenA="@ViewData["OrdeNom"]">Nombre</a>
                        <a class="dropdown-item" asp-action="Index" asp-route-OrdenA="@ViewData["OrdeApell"]">Apellido</a>
                        <a class="dropdown-item" asp-action="Index" asp-route-OrdenA="@ViewData["OrdeCorreo"]">Correo</a>
                        <a class="dropdown-item" asp-action="Index" asp-route-OrdenA="@ViewData["OrdeSalario"]">Salario</a>
                        <a class="dropdown-item" asp-action="Index" asp-route-OrdenA="@ViewData["OrdeModPago"]">Pago</a>
                        <a class="dropdown-item" asp-action="Index" asp-route-OrdenA="@ViewData["OrdeArea"]">Area</a>
                        <a class="dropdown-item" asp-action="Index" asp-route-OrdenA="@ViewData["OrdeRol"]">Puesto</a>
                    </div>
                </div>
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.salario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modPago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rol)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DUI">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DUI">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DUI">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (!Model.Any())
{
    <p>
        <h1 class="text-center">No se encontraron datos</h1>
        <h4 class="text-center">¿por qué no agregamos algunos? <span><a asp-action="Create"></a>agregar</span></h4>
    </p>
}
}
