@model TallerDS215.Models.Automovil

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Automovil</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.año)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.año)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Procedimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Procedimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.comentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.placa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
