@model IEnumerable<TallerDS215.Models.Automovil>

@{
    ViewData["Title"] = "Index";
}

<div class="row align">
    <div class="col-md-3 col-sm-12">
        <img src="/img/logoTaller.png" style="max-height: 90%; max-width:100%;">
    </div>
    <div class="col-md-9 col-sm-12 mb-5">
        <h1 class="mb-3">Automoviles</h1>
        <p>
            <a class="btn btn-outline-primary font-weight-bold rounded-pill" asp-action="Create">Agregar Automovil</a>
        </p>

        <form class="form-inline" asp-action="Index" method="get">
            <input class="col-md-7 col-sm-12 mr-sm-2 mb-2" type="text" placeholder="ingrese la placa o el dueño del auto" data-val="true" data-val-required="Debe llenar este campo" id="c_nombre" name="Buscar" value="@ViewData["FiltroB"]">
            <input type="submit" class="col-md-2 col-sm-12 btn btn-block btn-primary rounded-pill mb-2" value="Buscar">
            <input name="__RequestVerificationToken" type="hidden" value="">
        </form>
        <br />

        <a asp-action="Index">Todos los registros</a>

    </div>
</div>
<table class="table ">
    <thead class="text-center thead-dark">
        <tr>
            <th>
               <a class="dropdown-item" asp-action="Index" asp-route-OrdenA="@ViewData["OrdePlaca"]"> @Html.DisplayNameFor(model => model.placa)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.año)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procedimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comentario)
            </th>
            <th>
                <a class="dropdown-item" asp-action="Index" asp-route-OrdenA="@ViewData["OrdeDuenio"]">  @Html.DisplayNameFor(model => model.cliente)</a>
            </th>
            <th>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ordenar Por:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-action="Index" asp-route-OrdenA="@ViewData["OrdePlaca"]">Placa</a>
                        <a class="dropdown-item" asp-action="Index" asp-route-OrdenA="@ViewData["OrdeDuenio"]">Dueño</a>
                        
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.año)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Procedimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comentario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cliente)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.placa">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.placa">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.placa">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (!Model.Any())
{
    <p>
        <h1 class="text-center">No se encontraron datos</h1>
        <h4 class="text-center">¿por qué no agregamos algunos? <span><a asp-action="Create"></a>agregar</span></h4>
    </p>
}
